@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Fjalla+One&family=Cabin&display=swap");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 10pt;
    background-color: white;
    line-height: 1.35em;
}

footer {
    display: block;
    width: 100%;
    padding: 20pt 0;
    background: #eee;
    text-align: center;
}
footer p {
    margin: 0.2em auto;
}

@media only screen {
    body {
        padding: 2em 0 0 0;
        font-size: 12pt;
    }
    .page {
        max-width: 230mm;
        margin: 0 auto;
        padding: 0 15mm;
    }
    footer {
        background: none;
    }
    .view-as-pdf {
        margin: 1em 1em 0 1em;
    }
}

@media only print {
    .page {
        height: 297mm;
        width: 210mm;
        padding: 15mm;
        position: relative;
        box-sizing: border-box;
    }
    footer {
        position: absolute;
        bottom: 0mm;
        left: 0mm;
    }
    .view-as-pdf {
        display: none;
    }
}

a {
    color: #25a;
    text-decoration: none;
    font-weight: 500;
}

code {
    font-family: "DejaVu Sans Mono", monospace;
}

ul {
    margin-top: 6pt;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8pt;
}
header h1,
header h2 {
    font-family: Cabin;
    font-weight: normal;
    text-transform: none;
    letter-spacing: -1pt;
    font-size: 30pt;
}
header h2 {
    font-size: 18pt;
}
header .main > * {
    margin: 0;
    line-height: 1;
}

.contact {
    font-size: 12pt;
    list-style-type: none;
    margin-top: 8pt;
}

*::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 80%;
    margin-right: 0.5em;
    color: #aaa;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.2em;
}

.phone::before {
    content: "\f095";
}

.email::before {
    content: "\f1fa";
}

.website::before {
    content: "\f0c1";
}

section {
    margin: 20pt 0 0 0;
    padding: 0;
    border-radius: 10pt 0 0 0;
    border-width: 2pt 0 0 1pt;
    border-style: solid;
    border-color: black;
    position: relative;
    page-break-inside: avoid;
}

section::after {
    position: absolute;
    left: -2pt;
    bottom: 0;
    height: 24pt;
    width: 9pt;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}

section .headline {
    margin-top: -9pt;
    margin-bottom: 4pt;
    text-align: center;
}

section h2 {
    margin: 0 10pt;
    padding: 0 3pt 0 4pt;
    background-color: white;
    display: inline-block;
    font-size: 14pt;
    text-transform: uppercase;
    font-family: "Fjalla One";
    font-weight: normal;
    letter-spacing: 2pt;
    text-align: center;
}

.item {
    position: relative;
    margin: 6pt 0 20pt 0;
    border: 1pt dashed black;
    border-width: 1pt 0 0 0;
    padding: 8pt 0 0 8pt;
}

.item .titleline {
    margin-top: -16pt;
    margin-left: -4pt;
    margin-bottom: 2pt;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item .titleline .title {
    padding: 0 4pt 0 2pt;
    margin-left: 2pt;
    background: white;
    font-size: 12pt;
    font-family: "Cabin";
}
.item .titleline .spacetime {
    display: flex;
    margin-top: 1pt;
}
.item .titleline .spacetime .when::before {
    content: "\f073";
    color: #357;
}
.item .titleline .spacetime .where::before {
    content: "\f3c5";
    color: #573;
}
.item .titleline .spacetime .institution::before {
    content: "\f1ad";
    color: #753;
}
.item .titleline .spacetime *::before {
    background: white;
    line-height: 0;
    margin-top: -2.5pt;
    margin-right: 2.5pt;
    font-style: normal;
}
.item .titleline .spacetime > * {
    background: white;
    display: inline-block;
    padding: 0 0 0 8pt;
}

.item.noline .spacetime {
    background: white;
    flex-grow: 1;
}

.item .description {
    margin-top: 1pt;
}
.item .description p {
    margin: 0 0 5pt 0;
    padding: 0;
    text-align: justify;
}
.item .description strong,
.item .description b {
    font-weight: 500;
}
.item .description ul {
    margin-bottom: 4pt;
}

.institution {
    font-weight: bold;
}

.institution .note {
    font-weight: normal;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    margin: 8pt 0;
    padding: 0;
}
.columns .item {
    margin: 0 0.1em 0.5em 0;
    flex: 1 0 0;
}
.columns .item ul {
    padding: 0 6pt 0 12pt;
    margin: 0;
}
.columns .item:first-child {
    flex-grow: 1.6;
}

.columns > :first-child {
    border-right: 1pt dashed black;
}

@media only screen and (max-width: 640px) {
    .columns {
        flex-direction: column;
    }
    .columns .item {
        margin-bottom: 1em;
    }
    .columns > :first-child {
        border-right: none;
    }
    .page {
        padding: 0 5mm;
    }
    .item .titleline {
        align-items: flex-start;
        flex-direction: column;
    }
    section {
        margin-right: -5mm;
    }
    .item,
    .columns .item {
        padding-right: 5mm;
    }
}

@media only screen and (max-width: 480px) {
    section {
        margin-right: -5mm;
        margin-left: -5mm;
        border-left-width: 0;
    }
}

@page {
    size: A4 portrait;
    -relaxed-page-width: 210mm;
    -relaxed-page-height: 297mm;
    min-height: 100%;
    margin: 0;
}

